/*
======================
        CSS
======================
*/

body {
  background-color: #5db8e6;
  background: linear-gradient(#5db8e6, #0c171d);
  background-attachment: fixed;
  /*rendered gradient*/
  background: rgba(12, 23, 29, 1);
  background: -moz-linear-gradient(left, rgba(12, 23, 29, 1) 0%, rgba(96, 186, 230, 1) 50%, rgba(12, 23, 29, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12, 23, 29, 1)), color-stop(50%, rgba(96, 186, 230, 1)), color-stop(100%, rgba(12, 23, 29, 1)));
  background: -webkit-linear-gradient(left, rgba(12, 23, 29, 1) 0%, rgba(96, 186, 230, 1) 50%, rgba(12, 23, 29, 1) 100%);
  background: -o-linear-gradient(left, rgba(12, 23, 29, 1) 0%, rgba(96, 186, 230, 1) 50%, rgba(12, 23, 29, 1) 100%);
  background: -ms-linear-gradient(left, rgba(12, 23, 29, 1) 0%, rgba(96, 186, 230, 1) 50%, rgba(12, 23, 29, 1) 100%);
  background: linear-gradient(to right, rgba(12, 23, 29, 1) 0%, rgba(96, 186, 230, 1) 50%, rgba(12, 23, 29, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c171d', endColorstr='#0c171d', GradientType=1);
}

h1 {
  text-align: right;
  margin-right: 1%;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3em;
  margin-bottom: .1em;
}

.box {
  height: 20px;
  width: 20px;
  border: solid 1px black;
  float: left;
}

.box:hover {
  background-color: #e0e0e0;
}

.grid {
  height: 600px;
  width: 800px;
  margin: auto;
}

.container {
  height: auto;
  width: 800px;
  margin: auto;
}

.colorContain {
  height: 50px;
  width: 420px;
}

.colorGrid {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  float: left;
  margin: .2em;
  border-radius: 25%;
}

.colorGrid:hover {
  background-color: rgba(217, 217, 217, 0.31);
}


/*
======================
     PAINT COLORS
======================
*/

.red {
  background-color: red;
}

.orange {
  background-color: #bea000;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.selectedColor {
  height: 30px;
  width: 30px;
  /*border: solid 3px black;*/
  -webkit-box-shadow: inset 0px 0px 0px 3px #000;
  -moz-box-shadow: inset 0px 0px 0px 3px #000;
  box-shadow: inset 0px 0px 0px 3px #000;
}
